name: Build & Push Image

on:
   workflow_dispatch:
    inputs:
      version:
        description: 'ระบุ Version (เช่น 1.0)'
        required: true
        default: 'latest'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker Image
        run: docker build -t user2103/garbage-detection-app:${{inputs.version}} .

      - name: Push to Dockerhub
        run: docker push user2103/garbage-detection-app:${{inputs.version}}

          
