name: Docker Imgane CI

on:
  push:
    branches: ['main']
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4

      - name: Login Dockerhub
        env: 
          DOCKER_USERNAME: ${{secret.DOCKER_USERNAME}}
          DOCKER_PASSWORD: ${{secret.DOCKER_PASSWORD}}
        run: docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD

      - name: Build Docker Image
        run: docker compose up --build

      - name: Push to Dockerhub
        run: docker push user2103/garbage-detection
       
      

      
